a {
  text-decoration: none;
  color: #1c2529;
  cursor: pointer;
}

body {
  margin: 0;
}

.box {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  padding: 50px 0 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.title {
  margin-bottom: 2.5rem;
}

.title a {
  font-size: 2.25rem;
  color: #2d3748;
}

.nav-menu {
  margin: 10px 0 -1px;
  padding: 0;
  position: absolute;
  right: 30px;
  bottom: 0;
  font-size: 14px;
}

.nav-menu a {
  display: inline-block;
  padding: 0.5rem 1.25rem;
}

.nav-menu a img {
  display: inline-block;
  width: 1rem;
  margin-bottom: -0.15rem;
}

.nav-menu a span {
  display: inline-block;
}

.current {
  border: 1px solid #ddd;
  border-bottom-color: #fff;
}

main {
  display: flex;
}

.left-main {
  width: 75%;
}

.right-main {
  width: 25%;
}

.left-main-box {
  padding-right: 2rem;
  padding-top: 0.5rem;
}

.post {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.post-title {
  color: #555;
  font-size: 1.5rem;
  text-align: left;
}

.post-meta {
  margin-top: 1rem;
  display: inline-block;
}

.post-meta span {
  color: #4a5568;
}

.post-content {
  color: #444;
  overflow-wrap: normal;
  word-break: normal;
  font-size: 1rem;
  text-align: justify;
  padding-top: 1.25rem;
  line-height: 1.5;
}

.date-img {
  width: 1.25rem;
  margin-bottom: -0.25rem;
  display: inline-block;
}

.readmore {
  margin: 1rem;
}

.readmore a {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  float: right;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: #e2e8f0;
}

.sidebar {
  border-left: 1px solid #ddd;
  padding-left: 35px;
  margin-top: 40px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

.widget {
  margin-bottom: 20px;
}

.search {
  padding: 7px 11px 7px 28px;
  line-height: 16px;
  border: 1px solid #bbb;
  width: 65%;
  border-radius: 5px;
  box-shadow: none;
}

.pagination {
  border-top: 1px solid #ddd;
  width: 45rem;
  background: #fdfdfd;
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 0.2rem;
  counter-reset: pagination;
  text-align: center;
  font-size: 1.125rem;
}

.pagination:after {
  clear: both;
  content: "";
  display: table;
}

.pagination ul {
  width: 100%;
}

.pagination ul {
  list-style: none;
  display: inline;
  padding-left: 0;
}

.pagination li {
  list-style: none;
  display: inline;
  padding-left: 0;
}

.pagination li:hover a {
  color: #fdfdfd;
  background-color: #1d1f20;
  border: solid 1px #1d1f20;
}

.pagination li.active a {
  color: #fdfdfd;
  background-color: #1d1f20;
  border: solid 1px #1d1f20;
}

.pagination li a {
  border: solid 1px #d6d6d6;
  border-radius: 0.2rem;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}

.pagination li span {
  border: solid 1px #d6d6d6;
  border-radius: 0.2rem;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}

.pagination li:first-child a {
  display: inline-block;
}

.pagination li:first-child span:after {
  content: "<";
}

.pagination li:last-child span:after {
  content: ">";
}

.pagination li:first-child a:after {
  content: "<";
}

.pagination li:last-child a:after {
  content: ">";
}

.pagination li:nth-last-child(3):after {
  padding: 0 1rem;
  content: "...";
}

.category {
  line-height: 2.5rem;
  border-bottom-width: 1px;
  border-color: #4a5568;
}

.category div {
  display: inline-block;
}

.category div img {
  width: 1rem;
  display: inline-block;
  margin-bottom: -0.15rem;
  margin-right: 0.5rem;
}

.category-list {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0 0;
}

.category-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.5rem 0;
}

.recent {
  line-height: 2.5rem;
  border-bottom-width: 1px;
  border-color: #4a5568;
}

.recent div {
  display: inline-block;
}

.recent div img {
  width: 1rem;
  display: inline-block;
  margin-bottom: -0.15rem;
  margin-right: 0.5rem;
}

.recent-list {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0 0;
}

.recent-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.5rem 0;
}

footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
}

.footer-info {
  width: 33.333333%;
  color: #4a5568;
}

.archive {
  list-style: none;
  margin: 1rem 0;
}

.archive span {
  font-size: 14px;
  padding-right: 20px;
}

.archive a {
  font-size: 18px;
  color: #7d7d7d;
}

